<nav ng-controller="NavbarCtrl">
    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">LCT <span>Deluxe</span></a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li ng-class="{ active: isActive('/')}"><a href="#/" >Accueil</a></li>
              <li ng-class="{ active: isActive('/gameBuilder')}"><a ng-href="#/gameBuilder">Construire un jeu</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</nav>
<oauth
  site="https://accounts.google.com"
  authorize-path="/o/oauth2/auth"
  client-id="232967929857-ilihjfcnbr6cnd14mnc1bhff4jlk8ct8.apps.googleusercontent.com"
  redirect-uri="http://localhost:3000"
  scope="email profile">
</oauth>
