<div class="edito">

  <div class="row">
    <div class="col-md-6">
      <h1><i class="fa fa-balance-scale"></i> Règle du Scrabble duplicate</h1>
      <h2 id="generalite">Généralités</h2>
      <p>
        Le Scrabble Duplicate est un mode de jeu dans lequel le facteur chance n'existe pas.<br />
        En effet à tout moment de la partie les joueurs ont le même plateau et les mêmes lettres en mains.<br />
        <br />
        Le Scrabble Duplicate est donc le mode de jeu adopté dans les tournois de Scrabble.<br />
        Sur <a ui-sref="home">www.lettrecomptetriple.fr</a> on vous propose de vous entrainer au <a ui-sref="home">Scrabble Duplicate</a>
      </p>
      <h2 id="composition">Composition du jeu</h2>
      <p>
        Chaque joueur doit posseder en début de partie un plateau et l'ensemble des 100 lettres et des 2 jokers qui composent le jeu.<br />
      </p>
      <h2 id="leplateau">Le plateau</h2>
      <p>
        Le plateau est composé de 225 cases dont certaines ont un comportement spécial:<br />
        <dl>
          <dt>Mot compte triple</dt>
          <dd>Les meilleures cases du jeu! L'intégralité des points du mot sont multipliés par 3</dd>
          <dt>Mot compte double</dt>
          <dd>L'intégralité des points du mot sont doublés</dd>
          <dt>Lettre compte triple</dt>
          <dd>Les points de la lettre placé sur la case sont triplés</dd>
          <dt>Lettre compte double</dt>
          <dd>Les points de la lettre placé sur la case sont doublés</dd>
        </dl>
      </p>
      <h2 id="debut">Début</h2>
      <p>
        Au début du jeu, chaque joueur reçoit les mêmes 7 lettres.
      </p>
      <h2 id="deroulement">Déroulement</h2>
      <p>
        Chaque tour est chronométré, lorsque le chronomètre est à 0 le tour s'arrête.<br/>
        Pendant le tour chaque joueur essaie de former le mot comptant le plus de points sur le plateau.
        <br />
        A l'issu du tour, chaque joueur marque les points du meilleur mot qu'il a trouvé.
        <br />
        Ensuite on détermine quel est le meilleur mot trouvé parmi l'ensemble des joueurs.
        <br />
        C'est ce mot que chacun mettra sur le plateau.
        <br />
        Enfin chaque joueur reçoit à nouveau les mêmes 7 lettres et le tour suivant démarre.
      </p>
      <h2 id="joker">Joker</h2>
      <p>Le joker peut remplacer n'importe quelle lettre. Un fois qu'il est posé sur le plateau il a la valeur de la lettre qu'il remplace.
        <br />
        Le Joker ne compte pas de point.
      </p>
      <h2 id="mots">Les mots autorisés</h2>
      <p>C'est le dictionnaire "ODS" (Officiel du Scrabble) qui fait foi.
        <br />
        D'une manière générale le Scrabble autorise l'ensemble des mots de la langue française, au singulier comme au pluriel, au masculin et au féminin. Les verbes peuvent être à l'infinitif ou conjugués.
        <br />
        Ne sont pas autorisés les expression composées, les sigles et abréviations, les symboles chimiques et les noms propres.
      </p>
      <h2 id="calcule">Calcul des points</h2>
      <p>
        Chaque lettre posée compte pour la valeur qui est marquée dessus.<br />
        On compte l'intégralité des mots formés par les lettres que l'on vient de poser.<br />
        Si une lettre que l'on pose forme 2 mots, elle est comptée deux fois (si en plus elle est sur une case spéciale, celle-ci est comptée pour les 2 mots).
        <br />
        Les cases spéciales ne s'appliquent qu'aux lettes que l'on pose. On applique d'abord les cases "lettre compte double" et "lettre compte triple" avant d'appliquer "mot compte double" et "mot compte triple".
        <br />
        Un bonus de 50 points est accordé au coup si le joueur pose 7 lettres.
      </p>
      <h2 id="victoire">La victoire</h2>
      <p>
        Le jeu se termine lorsqu'il n'y a plus qu'une lettre à poser ou qu'il ne reste que des voyelles ou que des consonnes.<br />
        Le joueur ayant additionné le plus de points est alors déclaré vainqueur.
      </p>
      <h2 id="conclusion">Conclusion</h2>
      <p>
        Les règles du Scrabble sur le papier ne sont pas simples à comprendre. Cependant elles deviennent évidentes dès que l'on joue.
        <br />
        Alors pourquoi ne pas essayer le <a ui-sref="home">Scrabble Duplicate tout de suite !</a>
      </p>
    </div>

    <div class="col-md-6">
      <h1><i class="fa fa-info-circle"></i> Aide Lettre Compte Triple</h1>
      <h2>Comment jouer ?</h2>
      <p>
        Clique sur les lettres de la tablette en haut et tout en maintenant le bouton de la souris enfoncé, fais les glisser sur le plateau.<br />
        Lorsque le <strong>joker</strong> apparaît, clique sur le sigle "?", une petite fenêtre apparaît te permettant de sélectionner la lettre que tu veux.<br />
        Si tu as placé une lettre sur le jeu, tu peux, en faisant un clic avec le bouton droit la reposer sur la tablette en haut.<br />
        Tu peux aussi placer les lettres avec le clavier. Pour cela il faut que tu sélectionnes d'abord une case du jeu et qu'ensuite tu tapes au clavier la lettre. Pour déplacer le curseur sur une case adjacente, tu peux utiliser les flèches ou ton pavé numérique.<br />
      </p>
      <h2>Fonctionnement des parties</h2>
      <p>
        Les parties se déroulent jusqu'à ce qu'il n'y ait plus de lettre dans le sabot.<br />
      </p>
      <h2>Calcul des scores</h2>
      <p>
        Les <strong>scores</strong> ne sont comptabilisés que lorsque le joueur a fait un minimum de 400 points.<br />
        Le score du classement LCT est en fonction de ta position à la fin de la partie. Plus il y a de joueurs contre toi, plus tu marques de points.<br />
        Lorsque tu as fait une partie, tu apparaîs dans le <a  ui-sref="ranking">classement des joueurs</a>.
      </p>
      <h2>Le top</h2>
      <p>
        Le top est le meilleur mot possible calculé par l'ordinateur. Dans le tableau de score on voit le "% du top" c'est le nombre de point que tu as marqué par rapport à l'ordinateur. Si tu as trouvé tous les meilleurs mots, ton pourcentage sera de 100%.<br />
        Les meilleurs joueurs arrivent à marquer jusqu'à 95% du top.<br />
        Un bonus de 10 points t'est attribué si tu es le seul à avoir trouvé le top! ( Il faut qu'il y ait au moins 16 joueurs dans la partie).
      </p>
      <h2>Blocages et troubles</h2>
      <p>
        Il peut arriver que le jeu se bloque. Dans ce cas, il faut appuyer sur les touches CTRL et F5 en même temps.<br />
        Pour une meilleure expérience de jeu nous te conseillons vivement d'utiliser <a href="http://www.google.fr/chrome/">Chrome</a>, le navigateur de Google qui est clairement le plus performant du moment.<br />
      </p>
      <h2>Je ne vois pas tout le plateau, que faire ?</h2>
      <p>
        - Tu peux appuyer sur la touche F11 de ton clavier. Cela permet de mettre le navigateur en mode "plein écran".  Pour revenir en mode normal, appuie une nouvelle fois sur F11.
      </p>
      <h2>Quel navigateur utiliser ?</h2>
      <p>
        Tu peux utiliser n'importe quel navigateur internet pour jouer au Scrabble. Néanmoins certains navigateurs sont plus adaptés. Nous te conseillons d'utiliser <a href="http://www.google.fr/chrome/">Chrome</a>, le navigateur de Google, ou encore <a href="http://www.mozilla-europe.org/fr/firefox/">Firefox</a> celui de la fondation Mozilla.<br />
        Tous les deux ont l'avantage d'être beaucoup plus rapides qu'Internet Explorer. Lettre Compte Triple est optimisé pour Chrome.
      </p>
    </div>
  </div>
  <div class="row">
    <img src="assets/images/nature-sunset-person-woman.jpg" width="100%" class="col-md-12"/>
  </div>
</div>
