<div>
  <div class="row admin">
    <div class="col-md-12">
      <h2>Les clubs</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Nouveaux clubs</h3>
          <ul class="clubs">
            <li data-ng-repeat="club in createdClubList">
              <span class="club-name deluxe">{{::club.name}}</span> <button class="btn btn-lct btn-xs" data-ng-click="activateClub(club.id)">Valider</button>
              <ul class="users">
                <li data-ng-repeat="u in club.userList">
                  <user user="u"></user>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Clubs actifs</h3>
          <ul class="clubs">
            <li data-ng-repeat="club in activatedClubList">
              <span class="club-name deluxe">{{::club.name}}</span> <button class="btn btn-lct btn-xs" data-ng-click="suspendClub(club.id)">Suspendre</button>
              <ul class="users">
                <li data-ng-repeat="u in club.userList">
                  <user user="u"></user>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Clubs suspendus</h3>
          <ul class="clubs">
            <li data-ng-repeat="club in suspendedClubList">
              <span class="club-name deluxe">{{::club.name}}</span>
              <button class="btn btn-lct btn-xs" data-ng-click="activateClub(club.id)">Activer</button>
              <button class="btn btn-lct btn-xs" data-ng-click="deleteClub(club.id)">Supprimer</button>
              <ul class="users">
                <li data-ng-repeat="u in club.userList">
                  <user user="u"></user>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row hide">
    <div class="col-md-12">
      Générer une nouvelle partie : <button class="btn" data-ng-click="generateGame()">Générer</button>
      <br />
      {{game}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Le chat</h2>
      Nettoyer le chat principal: <button class="btn btn-lct" data-ng-click="cleanMainChat()">Vider le chat <i class="fa fa-comment-o"></i></button>
      <br />
      {{game}}
    </div>
  </div>

  <div>
    <script type="text/ng-template" id="deleteClubModal">
      <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
      </div>
      <div class="modal-body">
        <span>Supprimer le club?</span>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" ng-click="ok()">Supprimer</button>
        <button class="btn btn-lct" ng-click="cancel()">Annuler</button>
      </div>
    </script>
  </div>
</div>
