<div>
  <div class="row admin">
    <div class="col-md-12">
      <h2>Validation des clubs</h2>
      <ul class="clubs">
        <li data-ng-repeat="club in createdClubList">
          {{::club.name}} <button class="btn btn-lct btn-xs" data-ng-click="activateClub(club.id)">Activer</button>
          <ul class="users">
            <li data-ng-repeat="u in club.userList">
              <user user="u"></user>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row hide">
    <div class="col-md-12">
      Générer une nouvelle partie : <button class="btn" data-ng-click="generateGame()">Générer</button>
      <br />
      {{game}}
    </div>
  </div>
</div>
