<div class="social">
  <div class="row">
    <div class="col-md-12">
      <h1>Connexion</h1>
      Afin de freiner les utilisateurs malveillants, Lettre Compte Triple utilise vos comptes Facebook ou Google.<br />
      Lettre Compte Triple prend soin de vos donn&eacute;es. Elles ne servent qu'&agrave; sauvegarder vos scores et suivre votre progression.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a class="btn btn-lg btn-block btn-social btn-google" ng-click="authenticate('google')">
        <i class="fa fa-google"></i>
        Connexion Google
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-block btn-social btn-facebook" ng-click="authenticate('facebook')">
        <i class="fa fa-facebook"></i>
        Connexion Facebook
      </a>
    </div>
  </div>
</div>
