<div>
  <div class="social">
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-lg btn-block btn-social btn-google" ng-click="authenticate('google')">
          <i class="fa fa-google"></i>
          Connexion Google
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-block btn-social btn-facebook" ng-click="authenticate('facebook')">
          <i class="fa fa-facebook"></i>
          Connexion Facebook
        </a>
      </div>
    </div>
  </div>
</div>
