  <div class="jumbotron text-center">
    <img src="assets/images/logo_LCT.png" alt="Lettre Compte Triple">
    <p class="lead">
      <span class="version">
      Version <strong><span class="deluxe">Deluxe</span></strong>
      </span>
    </p>
    <p><a class="btn btn-lg btn-success" ui-sref="gameList">Génial!</a></p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}" ng-if="awesomeThing.logo">
        <div class="pull-right" ng-if="awesomeThing.icon"><i class="fa fa-{{awesomeThing.icon}} fa-5x"></i></div>
        <div class="caption">
          <h3>{{awesomeThing.title}}</h3>
          <p>{{awesomeThing.description}}</p>
          <p><a ng-href="{{awesomeThing.url}}" ng-if="awesomeThing.url">{{awesomeThing.url}}</a></p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>Lettre Compte Tripple, avec ♥ de Aude et Sylvain</p>
  </div>
