<div ng-if="running && round != null">
  <div class="row">
    <div class="col-md-8 col-lg-6 unselectable" unselectable="on" onselectstart="return false;">
      <div class="row">
        <div class="col-md-1">
          <get-back-all round="round"></get-back-all>
        </div>
        <div class="col-md-8">
          <play-game-draw round="round"></play-game-draw>
        </div>
        <div class="col-md-3" ng-if="!creator">
          <running-actions round="round"></running-actions>
        </div>
        <div class="col-md-3" ng-if="creator">
          En tant que créateur de la partie, vous ne pouvez pas jouer.
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-6">
      <span class="pull-right">Partie "{{::gameMetaData.name}}" lancée
        <span data-ng-if="gameMetaData.owner === 'auto'">automatiquement</span>
        <span data-ng-if="gameMetaData.owner !== 'auto'">par {{::gameMetaData.owner}}</span>
        <span data-ng-if="gameMetaData.creatorId === 'auto'">(et créée par l'ordinateur)</span>
        <span data-ng-if="gameMetaData.creatorId !== 'auto'">(et créée par {{::gameMetaData.creator}})</span>
      </span><br />
      Tour #{{round.roundNumber}}
      <timer play-game-id="gameMetaData.playGameId"></timer>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-6 unselectable" unselectable="on" onselectstart="return false;">
      <play-game-board round="round"></play-game-board>
    </div>
    <div class="col-md-4 col-lg-6">
      <play-text round="round"></play-text>
      <display-messages round="round"></display-messages>
      <chat id="{{gameMetaData.playGameId}}"></chat>
      <play-game-score game-meta-data="gameMetaData"></play-game-score>
    </div>
  </div>
</div>
