<div class="board" drop><!-- BOARD -->
  <ul class="rows">
    <li ng-repeat="row in round.boardGame.squares" ng-init="lineIndex = $index">
      <ul class="columns">
        <li ng-repeat="square in row" ng-style="{{ ::{top:squarePosition(lineIndex, $index).top, left:squarePosition(lineIndex, $index).left} }}" class="square">
          <img  ng-src="{{tileImageUrl(square.droppedTile.tile, square.droppedTile.value)}}" ng-if="square.droppedTile && square.justDropped" drag="true" drag-from="round.boardGame" data-value="{{square.droppedTile}}" data-row="{{lineIndex}}" data-column="{{$index}}"/>
          <img  ng-src="{{tileImageUrl(square.droppedTile.tile, square.droppedTile.value)}}" ng-if="square.droppedTile && !square.justDropped"/>
          <a ng-if="square.droppedTile.tile.tileType == 'wildcard' && square.justDropped" ns-popover ns-popover-template="jokerPopover" ns-popover-trigger="click" ns-popover-placement="bottom" ng-click="startChangeJokerValue(square.droppedTile)"><i class="fa fa-question"></i></a>
        </li>
      </ul>
    </li>
  </ul>
</div>
