<div class="account">
    <div class="row">
      <div class="col-md-3">
        <img data-ng-src="{{account.profilPictureURL}}" class="profilePicture"/>
        <a ui-sref="accountPicutre">Modifier</a>
      </div>
      <div class="col-md-9">
        <h1>{{::account.name}} <span data-ng-show="account.nickname">&lt;&nbsp;{{ account.nickname }}&nbsp;&gt;</span></h1>
        <br />
        Profil: <a href="{{::account.profilLink}}">{{::account.profilLink}}</a>
        <div data-ng-show="!account.nickname && !showForm" class="chooseNickname">
          Pour terminer votre inscription, merci de choisir un pseudo.<br />
          <button class="btn btn-lct" data-ng-click="showForm = true">Choisir un pseudo</button>
        </div>
        <div data-ng-show="account.nickname && !showForm" class="chooseNickname">
          <label class="control-label">Votre pseudo: </label>
          <span class="deluxe">{{account.nickname}}</span>&nbsp;&nbsp;&nbsp;
          <button class="btn btn-lct" data-ng-click="showForm = true">Changer de pseudo</button>
        </div>
        <div data-ng-show="showForm" class="chooseNickname">
          <form class="form-inline">
            <div class="form-group">
              <label class="control-label">Votre pseudo: </label>
              <input type="text" class="form-control" data-ng-model="account.nickname"></textarea>
            </div>
            <button type="submit" class="btn btn-lct" data-ng-click="changeNickname()">Valider</button>
            <div class="alert alert-danger" role="alert" data-ng-if="alreadyUsed">Ce pseudo est déjà utilisé par un autre joueur.</div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Mes amis</h3>
        <div>
          <span data-ng-if="!friends || friends.length === 0">L'homme n'est jamais moins seul que lorsqu'il est seul (Ciceron)</span>

          <ul class="userList" data-ng-if="friends.length > 0">
            <li data-ng-repeat="user in friends" class="row">
              <div class="col-md-6">
                <user user="user"></user>
              </div>
              <div class="col-md-6">
                <button class="btn btn-lct btn-xs" data-ng-click="removeFriend(user.id)">Supprimer</button>
              </div>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-md-6">
        <h3>Ajouter des amis</h3>
        <p>Rechercher et enregistrer des amis pour pouvoir faire des parties privées avec eux.</p>
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label">Pseudo ou email: </label>
            <input type="text" class="form-control" data-ng-model="searchName" data-ng-change="search()"></textarea>
          </div>
        </form>
        <div data-ng-if="userProposals">
          <ul class="userList">
            <li data-ng-repeat="user in userProposals" class="row">
              <div class="col-md-6">
                <user user="user"></user>
              </div>
              <div class="col-md-6">
                <button class="btn btn-lct btn-xs" data-ng-click="addFriend(user.id)">Ajouter</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Parties jouées</h3>
        <table class="table table-condensed" ng-table="configTableParams">
          <tbody>
          <tr ng-repeat="row in $data">
            <td data-title="'Nom'" sortable="'name'" class="author">{{::row.gameName}}</td>
            <td data-title="'Rang'" >{{::row.position}}</td>
            <td data-title="'date'" >{{::row.gameDate| date:'dd/MM/yyyy'}}</td>
            <td data-title="'Score'">{{::row.score}}</td>
            <td data-title="'% du top'">{{::row.percentFromTop/100 | number : 2}}%</td>
            <td data-title="'top'">{{::row.topScore}}</td>
            <td data-title="'Score Lettre Compte Triple'" sortable="'score'">{{::row.points}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
