<div>
  <div class="row">
    <div class="col-md-9">
      <div class="gameList">
        <h3>Jouer une partie multiplexe</h3>
        <p>
          Ce mode de jeu vous permet de jouer une partie en mode multiplexe.<br />
          Dans l'idéal, la partie est projeté dans une ou plusieurs salles.<br />
          L'arbitre contrôle le déroulé de la partie et inscrit les scores des joueurs.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="newGame">
        <h3 class="panel-title">Nouvelle partie</h3>
        <p>
          Lancer une nouvelle partie partie multiplexe.<br /><br />
          <a class="btn btn-lct" ng-href="#/club/multiplex">Créer une nouvelle partie</a>
        </p>
      </div>
    </div>
  </div>
</div>
