<div>
  <div class="jumbotron text-center ranking">
    <h1>Le classement du mois</h1>
  </div>
  <table class="table table-condensed" ng-table="configTableParams" show-filter="true">
    <tbody>
    <tr ng-repeat="userScore in $data track by $index">
      <td data-title="'Rang'" >{{userScore.rank}}</td>
      <td data-title="'Joueurs'" filter="{name: 'text'}" sortable="'name'" class="author">{{userScore.name}}</td>
      <td data-title="'Nb de parties jouées'" filter="{nbGames: 'number'}" sortable="'nbGames'">{{userScore.nbGames}}</td>
      <td data-title="'Score Lettre Compte Triple'" sortable="'score'">{{userScore.score}}</td>
      <td data-title="'% du top'" sortable="'percentFromTop'">{{userScore.percentFromTop/100 | number : 2}}%</td>
    </tr>
    </tbody>
  </table>
</div>
