<div>
  <table class="table table-condensed" ng-if="ranking.monthScoreLineBeanList.length > 0">
    <thead>
    <tr>
      <th>Position</th>
      <th>Joueur</th>
      <th>Nb de parties jouées</th>
      <th>Score Lettre Compte Triple</th>
      <th>% du top</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="userScore in ranking.monthScoreLineBeanList track by $index">
      <td>{{::($index+1)}}</td>
      <td class="author">{{::userScore.name}}</td>
      <td>{{::userScore.nbGames}}</td>
      <td>{{::userScore.score}}</td>
      <td>{{::userScore.percentFromTop/100 | number : 2}}%</td>
    </tr>
    </tbody>
  </table>
</div>
