<table class="table table-striped table-condensed table-hover select-table" ng-if="games.length > 0">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Créateur</th>
    <th>Tour actuel</th>
    <th>Temps par tour</th>
    <th>Début à</th>
    <th>Durée</th>
    <th>Joueurs</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="game in games" id="{{::game.playGameId}}">
    <td class="text-uppercase text-info">{{::game.name}}</td>
    <td>{{::game.owner}}</td>
    <td>{{::game.actualRoundNumber}}/{{::game.numberOfRound}}</td>
    <td>{{::duration(game.timeByRound, 1)}}</td>
    <td ng-if="game.startDate !== null">{{::game.startDate | date:"HH'h'mm" }}</td>
    <td ng-if="game.startDate === null">Pas encore démarré</td>
    <td>{{::duration(game.timeByRound, game.numberOfRound - game.actualRoundNumber)}}</td>
    <td>{{::game.nbPlayers}}</td>
    <td><button class="btn btn-xs" data-ng-click="joinGame(game.playGameId)"><i class="fa fa-play"></i> Rejoindre</button></td>
  </tr>
  </tbody>
</table>
