  <div class="row game-creation" data-ng-init="init()">
    <div class="col-md-12">
      <div class="">
        <h1 class="deluxe">Création d'une nouvelle partie</h1>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <h2>1. Combien de temps entre chaque tour?</h2>
                <form class="form col-md-11 col-md-offset-1">
                  <div class="radio-inline" if-admin>
                    <label>
                      <input type="radio" data-ng-model="roundTime" value="10" name="roundTime"/> 10 sec
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                      <input type="radio" data-ng-model="roundTime" value="90" name="roundTime"/> 90 sec
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                      <input type="radio" data-ng-model="roundTime" value="120" name="roundTime"/> 2 min
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                      <input type="radio" data-ng-model="roundTime" value="180" name="roundTime"/> 3 min
                    </label>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>2. Sélection d'une partie</h2>
                <div class="row">
                  <div class="col-md-11 col-md-offset-1">
                    <game-list round-time="roundTime" owner="me" refreshable="false" selected-game="selectedGame"></game-list>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-11 col-md-offset-1">
                    <game-list max="10" round-time="roundTime" owner="auto" refreshable="true" selected-game="selectedGame"></game-list>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>3. Nommer la partie</h2>
                <form class="form-inline col-md-11 col-md-offset-1">
                  <div class="form-group">
                    <label>Nom:&nbsp;</label>
                    <input type="text" class="form-control" data-ng-model="gameName" placeholder="Pour les champions!">
                  </div>
                </form>
              </div>
            </div>
            <div class="row" ng-if="hasError">
              <div class="col-md-12">
                <br />
                <div class="alert alert-danger">{{error}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-4 col-md-4">
                <br />
                <button class="btn btn-lct btn-lg btn-block" data-ng-click="startGame()">Démarrer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
