<div class="container" data-ng-init="init()">
  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Création d'une nouvelle partie</h3></div>
        <div class="panel-body">
          <div class="col-md-8 col-md-offset-2">
            <h3>1. Combien de temps entre chaque tour?</h3>
            <form class="form">
              <div class="radio-inline">
                <label>
                  <input type="radio" data-ng-model="roundTime" value="10" name="roundTime"/> 10 sec
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" data-ng-model="roundTime" value="60" name="roundTime"/> 1 min
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" data-ng-model="roundTime" value="120" name="roundTime"/> 2 min
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" data-ng-model="roundTime" value="180" name="roundTime"/> 3 min
                </label>
              </div>
            </form>
            <h3>2. Sélection d'une partie</h3>
            <div class="row">
              <div class="col-md-12">
                <game-list round-time="roundTime" owner="me" refreshable="false" selected-game="selectedGame"></game-list>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <game-list max="10" round-time="roundTime" owner="auto" refreshable="true" selected-game="selectedGame"></game-list>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>3. Nommer la partie</h3>
                <input type="text" data-ng-model="gameName"/>
              </div>
            </div>
            <div class="row" ng-if="hasError">
              <div class="col-md-12">
                <br />
                <div class="alert alert-danger">{{error}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-4 col-md-4">
                <br />
                <button class="btn btn-primary btn-lg btn-block" data-ng-click="startGame()">Démarrer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
